<aside class="sidebar-left-collapse" style="width:20em; margin:1.5em 0px 0px 0px">

  <div class="sidebar-links">
    <div class="link-blue">
      <a href="#/ingresarRegistro">
        <i class="fa fa-pencil fa-fw"></i>Eventos
      </a>
      <ul class="sub-links">
        <li><a href="#/ingresarRegistro">Ingresar registro</a></li>
        <li><a href="#/notificarRegistro">Notificar registros</a></li>
      </ul>
    </div>
    <div class="link-blue">
      <a href="#/ingresarRegistro">
        <i class="fa fa-bar-chart"></i>Informes
      </a>
      <ul class="sub-links">
        <li><a href="#/generarGrafico">Generar graficos</a></li>
        <li><a href="#">Generar planillas</a></li>
      </ul>
    </div>
    <div class="link-blue">
      <a href="#/ingresarRegistro">
        <i class="fa fa-cogs"></i>Configuraciones
      </a>
      <ul class="sub-links">
        <li><a href="#/crearUsuarios">Crear usuarios</a></li>
        <li><a href="#/configurarCampos">Modificar campos</a></li>
      </ul>
    </div>
    <div class="link-red">
      <a href="#!/login">
        <i class="fa fa-cogs"></i>LogOut
      </a>
    </div>
  </div>
</aside>

<div class="col-sm-10  col-md-10 col-md-offset-2 main" style="float:center">

        <div class="container-fluid row" style="border: 1px solid #c0c0c0; background-color: #fff; height:100%; width:100%">
          <div class=contact-form style="margin:50px 0px 30px 10px">
            <!-- <h1>Descripción del evento</h1> -->
            <label class="control-label" style="border-bottom:thin solid black; border-color:#dbdbdb; font-size:200%; width:100%"><b>Descripcion del evento</b></label>
            <time id="fechaevento"></time>
          </div>

          <div class="contact-form">
             <!-- Form -->
             <form id="contact-us">
                 <!-- Left Inputs -->
                 <div class="col-xs-5 wow animated slideInLeft" data-wow-delay=".5s">

                     <div class="form-group" style="height:4em">
                       <label for="fechaEvento" class="control-label">Fecha y hora del evento: </label>
                       <datepicker date-format="d MMMM y / HH:mm:ss">

                         <!-- <input ng-model="ingresarRegistro.fechaevento" ng-value="{{ingresarRegistro.fechaevento | date:'d MMMM y / HH:mm:ss'}}" type="text" placeholder="Seleccionar fecha" class="form-control"> -->
                         <input ng-model="ingresarRegistro.fechaevento" datetime="yyyy-MM-dd HH:mm:ss" type="text" placeholder="Seleccionar fecha" class="form-control">
                         <small>Día Mes Año / 24 hrs</small>
                       </datepicker>
                     </div><br>

                     <div class="form-group" style="height:9em">
                       <label for="programaInput" class="control-label">Programa:</label>
                       <div>
                         <input type="text" name="programaInput" id="programaInput" class="form-control" ng-model="ingresarRegistro.valuePrograma" placeholder="{{ingresarRegistro.placePrograma}}" readonly ng-cloak ng-required="true" oninvalid="this.setCustomValidity('Debes seleccionar un programa')">
                           <select id="prog" name="programa" class="form-control" ng-model="ingresarRegistro.programa" ng-change="ingresarRegistro.selectPrograma()" ng-cloak>
                             <!-- <option value="" default selected="selected">Seleccione un responsable</option> -->
                             <option value="" selected disabled hidden>Seleccione programa</option>
                             <!-- <option value="">{{textResponsable}}</option> -->
                             <option ng-repeat="programa in ingresarRegistro.programas" value="{{programa}}" >{{programa}}</option>
                           </select><br>
                       </div>
                     </div>
                     <div class="form-group" style="height:9em">
                       <label for="responsableInput" class="control-label">Reportado por:</label>
                       <div>
                         <input type="text" name="responsableInput" id="responsableInput" ng-model="ingresarRegistro.valueResponsable" placeholder="{{ingresarRegistro.placeResponsable}}" class="form-control" readonly ng-cloak ng-required="true" oninvalid="this.setCustomValidity('Debes seleccionar un responsable')">
                           <select id="resp" name="responsable" class="form-control" ng-model="ingresarRegistro.responsable" ng-change="ingresarRegistro.selectResponsable()" ng-cloak>
                             <!-- <option value="" default selected="selected">Seleccione un responsable</option> -->
                             <option value="" selected disabled hidden>Seleccione responsable</option>
                             <!-- <option value="">{{textResponsable}}</option> -->
                             <option ng-repeat="responsable in ingresarRegistro.responsables" value="{{responsable}}" >{{responsable}}</option>
                           </select><br>
                       </div>
                     </div>
                     <div class="form-group" style="height:9em">
                       <label for="operadorInput" class="control-label">Operador referencia:</label>
                       <div>
                         <input type="text" name="operadorInput" id="operadorInput" ng-model="ingresarRegistro.valueOperador" placeholder="{{ingresarRegistro.placeOperador}}" class="form-control" readonly ng-cloak ng-required="true" oninvalid="this.setCustomValidity('Debes seleccionar un operador')">
                           <select id="oper" name="operador" class="form-control" ng-model="ingresarRegistro.operador" ng-change="ingresarRegistro.selectOperador()" ng-cloak>
                             <!-- <option value="" default selected="selected">Seleccione un responsable</option> -->
                             <option value="" selected disabled hidden>Seleccione operador</option>
                             <!-- <option value="">{{textResponsable}}</option> -->
                             <option ng-repeat="operador in ingresarRegistro.operadores" value="{{operador}}" >{{operador}}</option>
                           </select><br>
                       </div>
                     </div>
                     <div style="height:10px">
                       <label for="duracionfalla" class="control-label">Duracion falla (seg):</label>
                       <div>
                         <input type="text" name="duracionfalla" id="duracionfalla" ng-model="ingresarRegistro.duracionfalla" class="form-control" ng-cloak>
                       </div>
                     </div>
                 </div><!-- End Left Inputs -->
                 <!-- Right Inputs -->
                 <div class="col-xs-7 wow animated slideInRight" data-wow-delay=".5s" style="border-left:thin solid black; border-color:#dbdbdb">
                   <div class="form-group">
                     <label for="descripcion" class="control-label">Problema Detectado:</label>
                     <div>
                         <textarea name="descripcion" id="descripcion" rows="9" placeholder="Descripcion del problema" class="form-control" ng-model="ingresarRegistro.descripcion" ng-cloak></textarea><br>
                     </div>
                   </div>
                   <!-- <hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;"> -->

                   <div class="form-group" style="border-bottom:thin solid black; height:5em; border-color:#dbdbdb">
                     <label for="areafalla" class="control-label">Area de falla:</label>
                     <div>
                          <input type="radio" name="areafalla" ng-model="ingresarRegistro.areafalla" ng-value=1 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="areafalla" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">Sist. de emision</label>
                          <input type="radio" name="areafalla" ng-model="ingresarRegistro.areafalla" ng-value=2 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="areafalla" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">Contenido de emision</label>
                          <input type="radio" name="areafalla" ng-model="ingresarRegistro.areafalla" ng-value=3 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="areafalla" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">PGM en vivo</label>
                          <input type="radio" name="areafalla" ng-model="ingresarRegistro.areafalla" ng-value=4 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="areafalla" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">Equipos de la linea de TX</label><br>
                         <!-- <input id="final1" type="radio" name="selFinalizado" ng-click="setFinalizado('true')">SI<br>
                         <input id="final2" type="radio" name="selFinalizado" ng-click="setFinalizado('false')">NO<br><br> -->
                     </div>
                   </div>
                   <!-- <hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;"> -->
                   <div class="form-group" style="border-bottom:thin solid black; height:5em; border-color:#dbdbdb">
                     <label for="tipoFalla" class="control-label">Tipo de falla:</label>
                     <div>
                          <input type="radio" name="tipofalla" ng-model="ingresarRegistro.tipofalla" ng-value=1 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="tipofalla" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">Audio</label>
                          <input type="radio" name="tipofalla" ng-model="ingresarRegistro.tipofalla" ng-value=2 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="tipofalla" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">Video</label>
                          <input type="radio" name="tipofalla" ng-model="ingresarRegistro.tipofalla" ng-value=3 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="tipofalla" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">Audio y Video</label>
                          <input type="radio" name="tipofalla" ng-model="ingresarRegistro.tipofalla" ng-value=4 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="tipofalla" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">Equipo</label>
                          <input type="radio" name="tipofalla" ng-model="ingresarRegistro.tipofalla" ng-value=5 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="tipofalla" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">Humana</label>
                          <input type="radio" name="tipofalla" ng-model="ingresarRegistro.tipofalla" ng-value=6 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="tipofalla" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">Enlace</label><br>
                         <!-- <input id="final1" type="radio" name="selFinalizado" ng-click="setFinalizado('true')">SI<br>
                         <input id="final2" type="radio" name="selFinalizado" ng-click="setFinalizado('false')">NO<br><br> -->
                     </div>
                   </div>
                   <!-- <hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;"> -->
                   <div class="form-group" style="border-bottom:thin solid black; height:5em; border-color:#dbdbdb">
                     <label for="senal" class="control-label">Señal:</label>
                     <div>
                          <input type="radio" name="senal" ng-model="ingresarRegistro.senal" ng-value=1 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="senal" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">Nacional SD</label>
                          <input type="radio" name="senal" ng-model="ingresarRegistro.senal" ng-value=2 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="senal" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">Nacional HD</label>
                          <input type="radio" name="senal" ng-model="ingresarRegistro.senal" ng-value=3 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="senal" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">Cable</label>
                          <input type="radio" name="senal" ng-model="ingresarRegistro.senal" ng-value=4 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="senal" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">Todas</label><br>
                         <!-- <input id="final1" type="radio" name="selFinalizado" ng-click="setFinalizado('true')">SI<br>
                         <input id="final2" type="radio" name="selFinalizado" ng-click="setFinalizado('false')">NO<br><br> -->
                     </div>
                   </div>
                   <!-- <hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;"> -->
                   <div class="form-group" style="border-bottom:thin solid black; height:5em; border-color:#dbdbdb">
                     <label for="servicio" class="control-label">Servicio:</label>
                     <div>
                          <input type="radio" name="servicio" ng-model="ingresarRegistro.servicio" ng-value=1 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="servicio" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">Bien</label>
                          <input type="radio" name="servicio" ng-model="ingresarRegistro.servicio" ng-value=2 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="servicio" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">Malo por audio</label>
                          <input type="radio" name="servicio" ng-model="ingresarRegistro.servicio" ng-value=3 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="servicio" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">Malo por video</label>
                          <input type="radio" name="servicio" ng-model="ingresarRegistro.servicio" ng-value=4 ng-cloak style="float: left; margin: 2px 0 0 2px;">
                          <label for="servicio" style="float: left;  clear: none;  display: block;  padding: 2px 1em 0 0">Malo por audio y video</label><br>
                         <!-- <input id="final1" type="radio" name="selFinalizado" ng-click="setFinalizado('true')">SI<br>
                         <input id="final2" type="radio" name="selFinalizado" ng-click="setFinalizado('false')">NO<br><br> -->
                     </div>
                   </div>
                   <!-- <hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px; color: #123455"> -->

                   <div class="clear"></div>

                 <!-- Bottom Submit -->
                   <div class="form-group" style="margin: 5em 2em 2em 0em">
                       <!-- <button type="submit" ng-disabled="frm1.$invalid" ng-click="formulario.crearRegistro()">Agregar</button> -->
                       <button type="submit" ng-click="ingresarRegistro.crearRegistro()" class="btn btn-primary">Agregar</button>
                       <button type="submit" ng-click="ingresarRegistro.modificarRegistro(registroID)" class="btn btn-primary">Actualizar</button>
                       <button type="submit" ng-click="ingresarRegistro.borrarRegistro(registroID)" class="btn btn-primary">Borrar</button>
                   </div>
                </div><!-- End Right Inputs -->

                 <!-- Clear -->
                 <div class="clear"></div>
             </form>

             <!-- Your Mail Message -->
             <div class="mail-message-area">
                 <!-- Message -->
                 <div class="alert gray-bg mail-message not-visible-message">
                     <!-- <strong>Thank You !</strong> Your email  has been delivered. -->
                 </div>
             </div>

         </div><!-- End Contact Form Area -->

      </div><!-- fin formulari  o CONTROLLER-->
      <!-- </div> -->
    <!-- busqueda -->
      <div class="container-fluid row" style="border: 1px solid #c0c0c0; background-color: #E5E5E5; height:100%; width:100%">
              <!-- <div class="container-fluid row" style="border: 1px solid #c0c0c0; background-color: #fff; height:100%; width:100%" ng-controller='Controlador1 as formulario'> -->
              <!-- <h1>Busqueda de eventos</h1> -->
              <div class=contact-form style="margin:50px 0px 30px 10px">
                <!-- <h1>Descripción del evento</h1> -->
                <label class="control-label" style="border-bottom:thin solid black; border-color:#dbdbdb; font-size:200%; width:100%"><b>Busqueda de eventos</b></label>
                <time id="fechaevento"></time>
              </div>
                <div style="white-space:nowrap">
                  <label for="descripcionFiltro" style="display: inline-block; margin: 0em 2.5em 0em 0em">Descripcion:</label>
                  <input type="text" name="descripcionFiltro" ng-model="ingresarRegistro.filtroText1" class="form-control" placeholder="Buscar en la descripcion..." style="display: inline-block; width: 40em">
                    <button type="button" ng-click="ingresarRegistro.aplicarFiltro1()" style="display: inline-block">
                      <span class="fa fa-check-square-o" style="display: inline-block; font-size:24px;"></span>
                    </button>
                    <button type="button" ng-click="ingresarRegistro.resetFiltro1()" style="display: inline-block">
                      <span class="fa fa-trash-o" style="display: inline-block; font-size:24px;"></span>
                    </button>
                </div>

                <div style="white-space:nowrap">
                <label for="filtro2" style="display: inline-block; margin: 0em 2em 0em 0em">Responsable:</label>
                <!--http://app.fontastic.me/-->
                  <select name="filtro2" style="display: inline-block; width: 40em" id="filtro2" class="form-control" ng-model="ingresarRegistro.filtro2" ng-options="responsable for responsable in ingresarRegistro.responsables">
                    <option value="">Seleccione un responsable</option>
                  </select>
                  <button type="button" style="display: inline-block" ng-click="ingresarRegistro.resetFiltro2()">
                    <span class="fa fa-trash-o" style="display: inline-block; font-size:24px;"></span>
                  </button>
                </div>
                <div style="white-space:nowrap">
                <label for="filtro3" style="display: inline-block; margin: 0em 3.5em 0em 0em">Programa:</label>
                <!--http://app.fontastic.me/-->
                  <select name="filtro3" style="display: inline-block; width: 40em" class="form-control" id="filtro3" ng-model="ingresarRegistro.filtro3" ng-options="programa for programa in ingresarRegistro.programas">
                    <option value="">Seleccione un programa</option>
                  </select>
                  <button type="button" style="display: inline-block" ng-click="ingresarRegistro.resetFiltro3()">
                    <span class="fa fa-trash-o" style="display: inline-block; font-size:24px;"></span>
                  </button>
                </div>
                <hr>

                  <div class="table-responsive">
                    <table id="tablaTareas"  class="table table-striped" cellspacing="10" width="100%" padding="0em">
                      <thead>
                          <tr>
                              <th>Descripcion del problema</th>
                              <th>Responsable</th>
                              <th>Programa</th>
                              <th>Señal</th>
                              <th>Fecha del evento</th>
                          </tr>
                      </thead>
                      <tbody>
    <!-- <li id="inner" class="lista" ng-click="marcarRegistro(registro._id)" ng-repeat="registro in bitacora | filter: filter | filter: filter1">{{registro.titulo}} | {{registro.updated_at | date:'dd/MM/yyyy @ h:mma'}}</li> -->

                        <tr ng-repeat="registro in ingresarRegistro.listado | filter: ingresarRegistro.filtro1 | filter: ingresarRegistro.filtro2 | filter: ingresarRegistro.filtro3 | orderBy:'-'" ng-click="ingresarRegistro.marcarRegistro(registro._id)" ng-cloak>
                        <!-- <tr ng-repeat="registro in busqueda.listado" ng-click="busqueda.marcarRegistro(registro._id)" ng-cloak> -->

                          <td style="width:500px; float:left; word-wrap:break-word">{{registro.descripcion}}</td>
                          <td>{{registro.responsable}}</td>
                          <td>{{registro.programa}}</td>
                          <!-- <td ng-model="registro.completada" ng-if="true">Completada</td>
                          <td ng-model="registro.completada" ng-if="false">Pendiente</td> -->
                          <td ng-show="verificarCompletada(registro.completada)">Completada</td>
                          <td ng-show="!verificarCompletada(registro.completada)">Pendiente</td>
                          <td>{{registro.fechaevento | date:'dd/MM/yyyy / h:mma'}}</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>

        </div><!-- fin busquedaCONTROLLER -->
</div>

